body {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #22A0A2;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.login-container {
    background-color: #2c2c2c;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 300px;
}